section
  h1 Static Sites with Heroku and Harp.js

  :markdown
    This is a static site served by [Harp.js](http://harpjs.com/) and hosted on Heroku.
    Harp serves Jade, Markdown, EJS, CoffeeScript, Sass, LESS and Stylus as
    HTML, CSS & JavaScript—no configuration necessary.

    Check out
    [harp-sample](https://github.com/zeke/harp-sample)
    and
    [harp-buildpack](https://github.com/zeke/harp-buildpack)
    on GitHub.

